modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Production Server"

[[workflows.workflow]]
name = "Production Server"
author = 43976167
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
